<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap" rel="stylesheet">
	<title>Maze Solver</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
	<script src="{{ url_for('static', filename='/app.js') }}" defer></script>
</head>

<body>
	<div id="header">
		<div id="logo">Maze Solver</div>
	</div>
	<div id="just-to-center-an-image">
		<button id="btn1" style="width: auto;height: 30px;margin-right: 20px;">Get Maze</button>
		<img id="img1" src="{{ url_for('static', filename='/golive.webp') }}" alt="live" width="100px" height="auto">
	</div>
	<div id="board">
		<canvas id="canva" style="border: 1px solid black;">
		</canvas>
		<button id="btn2" style="width: auto;height: 30px;margin-right: 20px;">next pos</button>	
	</div>
	<div id="notification-container"></div>
</body>

</html>